##For Dino agent training
numpy
torch
pygame
gymnasium ## A fork of gym
matplotlib
pillow



##For MineRL enviroment PPO agent training
minerl
gym
logging
tqdm




##For ML_Agent with Unity 
mlagents
pyyaml
pyglet
